@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
  font-family: 'Comfortaa', cursive;
  font-size: 100%; // 1rem is 10px
  margin: 0;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  overflow-x: hidden;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}
.ui.icon.header .icon {
  color: rgb(151, 191, 15);
  font-size: 30px;
}

.dropdown {
  background-color: rgb(151, 191, 15) !important;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.ui.vertical.menu .dropdown.item > .icon {
  float: right;
  content: '\F0DA';
  margin-left: 0;
  height: 5px;
}

.ui.secondary.vertical.menu > .item {
  border: none;
  margin: 0 0 0.2em;
  border-radius: 0.28571rem !important;
  padding: 15px;
}

.ui.segment {
  background-color: rgb(255, 180, 0);
  margin: 80px 5px;
}

.ui.grid {
  margin: 0;
  padding: 15px;
  font-family: 'Comfortaa', cursive;
}

.ui.vertical.menu {
  max-width: 12rem;
  padding: 10px 20px;
}

.app-wrapper {
  display: flex;
  justify-items: center;
  width: 90%;
}

.ui.secondary.menu .active.item {
  background: rgb(151, 191, 15);
  color: rgba(255, 255, 255, 0.95);
}

.ui.form {
  max-width: 50%;
}
.formContainer {
  max-width: 300px;
  margin: 30px;
}

.authContainer {
  margin: 20px 0 !important;
}
.ui.secondary.vertical.pointing.menu {
  height: 100vh;
}

.filter {
  min-height: 50%;
  margin: 30px !important;
  overflow-y: visible;
}

.select {
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctors {
  width: 100vw;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  height: 40px;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0.28571rem;
}

.ui.button {
  background: rgb(151, 191, 15);
  color: rgba(255, 255, 255, 0.95);
}

.doctor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto 0;
}

.doctorDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.dappointment {
  display: flex;
  margin: 30px !important;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

.dappointmentForm {
  max-width: 100% !important;
}

.pharmacies {
  margin-bottom: 30px !important;
}

.ui.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -0.875em -0.5em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: 90% !important;
    margin: 30px;
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 484px) {
  .doctorDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 30px;
    padding: 10px;
  }

  body {
    overflow-x: hidden;
  }
}
